.content {
  & ul {
    list-style-type: none;
    position: relative;
    list-style: none;
    margin-left: 2px;
    padding-left: 2em;
  }

  & ul li::before {
    content: "🦀";
    position: absolute;
    left: 0;
  }
}
