$height: 50px;
$minWidth: 200px;
$maxWidth: 100%;

.nav,
.nav h2 {
  font-family: "Work Sans";
  color: #ffffff;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 4% 0px 4% !important;

  .brand {
    text-decoration: none;
  }

  .nav-toggle {
    visibility: hidden;
  }

  .link {
    padding-left: 30px;
    text-decoration: none;
    cursor: pointer;
    flex-direction: column;
    color: #ffffff;
  }

  .link:hover {
    text-decoration: underline;
  }
}

.left,
.middle,
.right {
  height: $height;
  min-width: $minWidth;
  max-width: $maxWidth;
}

.left {
  flex: 2;
}

.right {
  flex: 3;
  text-align: right;
}

@media (max-width: 768px) {
  .nav .brand {
    display: inline-block;
  }

  .nav .nav-toggle {
    padding: 0;
    margin: 3px;
    float: right;
    cursor: pointer;
    font-size: 1.5em;
    visibility: visible;
  }

  .right {
    text-align: left;
    visibility: hidden;
    max-height: 0px;

    .link {
      display: block;
      padding: 12px;
      visibility: hidden;
    }
  }

  .right.toggled .link {
    visibility: visible;
  }

  .right.toggled {
    max-height: 100%;
    visibility: visible;
  }
}

.middle {
  flex: 1;
}

// .patreon {
//   background-color: #f86754;
//   // padding: 5px;
// }
