.blue-green-gradient-bg {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(87, 152, 235, 1) 0%,
    rgba(133, 222, 213, 1) 67%
  );
  // background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.grayish-gradient-bg {
  background-image: linear-gradient(
    180.3deg,
    rgba(221, 221, 221, 1) 5.5%,
    rgba(110, 136, 161, 1) 90.2%
  );
}

.black-bg {
  background-color: #000000;
}

.white-bg {
  background-color: #ffffff;
  color: #000000;
}
