* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

p,
ul,
li,
input {
  font-family: $font-family-1;
}

p {
  font-size: 18px;
  line-height: 2em;
}

.page {
  height: 100vh;
}

.container {
  padding: 3%;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.section {
  padding: 3%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  @media (min-width: 769px) {
    flex-direction: row;
  }

  @for $i from 1 to 10 {
    .flex-#{$i} {
      flex: $i;
    }
  }
}

.section-large {
  padding-top: 6%;
  padding-bottom: 6%;
}

.danger {
  color: red;
}

.success {
  color: greenyellow;
}

.warning {
  color: orange;
}

.margin-top-bottom-small {
  margin-top: 10%;
  margin-bottom: 10%;
}
